<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdjm.mapper.DynamicSqlMapper">


<!--    where标签 当if条件都为空的时候就不会生成where；-->
<!--    同时，当查询条件前面有多余的and 或者or的时候 也会自动去除，但是不会去除后面的or 或者and ，-->
<!--    例如 :role_name like "%"#{vo.roleName}"%" and-->
    <select id="queryRole" resultType="com.jdjm.entity.SysRole">
        select * from sys_role
        <where>
            <if test="vo.roleName != null and vo.roleName != ''">
                and role_name like "%"#{vo.roleName}"%"
            </if>
            <if test="vo.roleCode != null and vo.roleCode != ''">
                and role_code = #{vo.roleCode}
            </if>
            <if test="vo.description != null and vo.description != ''">
                and description like "%"#{vo.description}"%"
            </if>
        </where>
    </select>



<!--    prefix：加前缀-->
<!--    suffix: 加后缀-->
<!--    suffixOverrides:删除后缀-->
<!--    prefix="where"的意思是在trim标签所包裹的内容前面加上where（前提是条件不是全为null）-->
<!--    suffixOverrides="and|or" 会只能地删除后面的and 或者or-->
    <select id="queryRoleByTrim" resultType="com.jdjm.entity.SysRole">
        select * from sys_role
        <trim prefix="where" suffixOverrides="and|or" >
            <if test="vo.roleName != null and vo.roleName != ''">
                 role_name like "%"#{vo.roleName}"%" and
            </if>
            <if test="vo.roleCode != null and vo.roleCode != ''">
                 role_code = #{vo.roleCode} and
            </if>
            <if test="vo.description != null and vo.description != ''">
                 description like "%"#{vo.description}"%"
            </if>
        </trim>
    </select>
</mapper>