<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jlkjl">
    <insert id="insertStory">
        insert into story_t0(userId,`name`,title,story,tag) values(10003,"林北","天玄资质","重生之我踏马拿肾肝",1)
    </insert>

    <insert id="insertStoryByMap">
        insert into story_t0(userId,`name`,story) values(#{userId},#{name},#{story});
    </insert>

    <insert id="insertStoryByPOJO">
        insert into story_t0(userId,`name`,story,is_deleted,create_at) values(#{userId},#{name},#{story},#{isDeleted},#{createAt});
    </insert>
</mapper>