<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdjm.mapper.SysRoleMapper">
    <insert id="insertAndGetId" useGeneratedKeys="true" keyProperty="id">
        insert into sys_role(id,role_name,role_code,description)
            values(null,#{roleName},#{roleCode},#{description})
    </insert>

    <select id="queryRole" resultType="com.jdjm.entity.SysRole">
        select
            id,
            role_name as roleName,
            role_code as roleCode,
            description,
            create_time as createTime,
            update_time as updateTime
            from sys_role where role_name = ${roleName}
    </select>

    <select id="queryAllRoleOrderBy" resultType="com.jdjm.entity.SysRole">
        select
            id,
            role_name as roleName,
            role_code as roleCode,
            description,
            create_time as createTime,
            update_time as updateTime
        from sys_role order by id ${ascOrDesc}
    </select>

    <delete id="deleteBatchByIds">
        delete from sys_role where id in (${ids})
    </delete>


    <select id="queryRoleByLike" resultType="com.jdjm.entity.SysRole">
        select  id,
                role_name as roleName,
                role_code as roleCode,
                description,
                create_time as createTime,
                update_time as updateTime
        from sys_role where role_name like
                            concat('%',#{roleName},'%')
        
    </select>


    <select id="queryMap" resultType="java.util.Map">
        select * from sys_role where id = #{id}
    </select>


    <select id="queryMapAll" resultType="java.util.Map">
        select * from sys_role
    </select>


    <select id="queryMapBigAll" resultType="java.util.Map">
        select * from sys_role
    </select>


    <resultMap id="myMap" type="com.jdjm.entity.SysRole">
        <id property="id" column="id"></id>
        <result property="roleName" column="role_name"></result>
        <result property="roleCode" column="role_code"></result>
<!--        相同的可以省略-->
        <result property="description" column="description"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="isDeleted" column="is_deleted"></result>
    </resultMap>

    <select id="queryByResultMap" resultMap="myMap">
        select * from sys_role
    </select>


    <select id="queryAllAuto" resultType="com.jdjm.entity.SysRole">
        select * from sys_role
    </select>


</mapper>